html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search {
    margin-left: 3rem;
    border: soild;
    border-radius: 8px;
    width: 35%;
}
.table-content {
    margin: 3rem 0;
}

.btn-self {
    margin-left: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #009E74;
    color: white;
    text-align: center;
}



th {
    text-align: center;
}
th, td {
    padding-left: 3rem;
}

.input-div, table, label, input {
    margin-bottom: 0.5rem;
}

label {
    width: 10%; /* Chiều rộng của label */
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    margin-right: 10px; /* Khoảng cách giữa label và input */
}


tr {
    border-bottom: 1px solid black;
}

