html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search {
    margin-left: 3rem;
    border: soild;
    border-radius: 8px;
    width: 35%;
}
.table-content {
    margin: 3rem 0;
}

.btn-self {
    margin-left: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #009E74;
    color: white;
    text-align: center;
}