@page
@model OOP_LTHDT_2024.Pages.Category.MH_DanhSachMatHangModel
@{
	ViewData["Title"] = "Quản lí mặt hàng";

}
<div>
	<form method="post">
		<label for="search-bar">Tìm kiếm mặt hàng</label>
		<input type="text" id="search-bar" name="keyword" class="search" placeholder="Nhập tên mặt hàng" />
		<input class="btn-self" type="submit" value="Tìm kiếm" />
	</form>
</div>
<div>
	<a href="MH_ThemMatHang">Thêm mặt hàng</a>
</div>
<div class="table-content">
	<table>
		<tr>
			<td>Mã mặt hàng</td>
			<td>Tên mặt hàng</td>
			<td>Số lượng sản phẩm</td>
			<td class="action">Hành động</td>
		</tr>
		@foreach (var matHang in Model.DanhSachMatHang)
		{
			<tr>
				<td>@matHang.Ma</td>
				<td>@matHang.Ten</td>
				<td>@matHang.DanhSachSanPham.Count</td>
				<td class="action">
					<a href="MH_SuaMatHang?mamh=@matHang.Ma">Sửa</a>
					<a href="MH_XoaMatHang?mamh=@matHang.Ma">Xoá</a>
				</td>
			</tr>
		}
	</table>

</div>