@page
@model OOP_LTHDT_2024.Pages.Category.MH_SuaMatHangModel
@{
}
@if (Model.MatHang != null)
{
	<form method="post">
		<label for="TenMatHang">Tên mặt hàng:</label>
		<input type="text" name="TenMatHang" value="@Model.MatHang.Ten" /> <br />
		<input type="submit" value="Sửa" />
	</form>
}
@Model.Chuoi