@page
@model OOP_LTHDT_2024.Pages.Category.MH_ThemMatHangModel
@{
}
<form method="post">
	<label for="TenMatHang">Tên mặt hàng:</label>
	<input type="text" name="TenMatHang" value="" /> <br />
	<input type="submit" value="Thêm" />
</form>
@Model.Chuoi