@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lập trình hướng đối tượng</h1>
    <p>Sinh viên: Huỳnh Vũ</p>
    <p>Mã số: 23880104</p>

</div>
