@page
@model OOP_LTHDT_2024.Pages.MH_DanhSachMatHangModel
@{
}
<div>
	<form method="post">
		<label for="search-bar">Tìm kiếm mặt hàng</label>
		<input type="text" id="search-bar" name="keyword" class="search" placeholder="Nhập tên mặt hàng" />
		<input class="btn-self" type="submit" value="Tìm kiếm" />
	</form>
</div>

<div class="table-content">
	<table>
		<tr>
			<td>Mã sản phẩm</td>
			<td>Tên mặt hàng</td>
			<td>Số lượng sản phẩm</td>
			<td class="action">Hành động</td>
		</tr>
		@foreach (var sanPham in Model.DanhSachMatHang)
		{
			<tr>
				<td>@sanPham.MaMH</td>
				<td>@sanPham.TenMH</td>
				<td>@sanPham.DanhSachSanPham.Count</td>
				<td class="action">
					<a href="MH_SuaMatHang?mamh=@sanPham.MaMH">Sửa</a>
					<a href="MH_XoaMatHang?mamh=@sanPham.MaMH">Xoá</a>
				</td>
			</tr>
		}
	</table>

</div>