@page
@model OOP_LTHDT_2024.Pages.MH_ThemSanPhamModel
@{

}
<form action="" method="post">
	<label for="TenSanPham">Tên sản phẩm:</label>
	<input type="text" name="TenSanPham" value="" /> <br />
	<label for="Gia">Giá sản phẩm:</label>
	<input type="number" name="Gia" value="" /> <br />
	<label for="CongTySanXuat">Công ty sản xuất:</label>
	<input type="text" name="CongTySanXuat" value="" /> <br />
	<label for="NamSanXuat">Năm sản xuất:</label>
	<input type="number" name="NamSanXuat" value="" /> <br />
	<label for="HanSuDung">Hạn sử dụng:</label>
	<input type="date" name="HanSuDung" value="" /> <br />
	<label for="MatHang">Mặt hàng:</label>
	<input type="text" name="MatHang" value="" /> <br />
	<input type="submit" value="Thêm"/>
</form>
@Model.Chuoi