@page
@model OOP_LTHDT_2024.Pages.MH_Xoa_SanPhamModel
@{
}
@if (Model.SanPham != null)
{
	<form method="post">
		<h3>Bạn có thật sự muốn xóa sản phẩm @Model.SanPham.Ten không?</h3>
		<input type="submit" value="Xoá" />
	</form>
}
@Model.Chuoi

